body {
    background-color:#f7dce3;
}

.app__wrapper {
    width: 900px;
    height: 500px;
    color: #333;
    font-size: 1.3rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow:
  4.5px 4.5px 3.6px rgba(0, 0, 0, 0.017),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
  30.1px 30.1px 24.1px rgba(0, 0, 0, 0.033),
  100px 100px 80px rgba(0, 0, 0, 0.05)
;
}
.wrap__all {
    width: 100%;
    height: 100%;
}
.login__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: pink;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.login__title {
    width: 300px;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.login__button-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.Login__button-item {
    width: 100%;
    height: 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    color: white;
    background-color: transparent;
    transition: all .8s;
    cursor: pointer;
}
.btn-fb:hover {
    background-color: #0F90F3;
    color: white;
    border-color: #0F90F3;
}
.btn-gg:hover {
    background-color: #D54D6F;
    color: white;
    border-color: #D54D6F;
}
.mainchat__wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}
/* sidebar */
.sidebar__wrapper {
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* siderbar header */
.header__wrapper {
    background-color: #f397a9;
    width: 100%;
    height: 55p;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
}
.header__user-info {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.header__avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-right: 10px;
    overflow: hidden;
}
.header__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__btn-logout button{
    width: 80px;
    height: 45px;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    color: white;
    cursor: pointer;
}
.sidebarlist__wrapper {
    width: 100%;
    height: 100%;
    background-color: #f3cbd6;
    padding: 10px 20px;
}
.sidebarlist__addRoom {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.addRoom__btn {
    display: flex;
    color: white;
    font-size: 1.4rem;
}
.addRoom__btn span {
    margin-right: 10px;
}
/* chatroom */
.chatroom__wrapper {
    width: 100%;
    border: 1px solid #f1f1f1;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
/* select component */
.select__wrapper {
    width: 100%;
    height: auto;
    color: white;
    font-size: 1.3rem;
}
.select__box {
    width: 100%;
    height: auto;
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}
.select__box span {
    transition: all .5s;
}
/* .select__box span:hover {
    transform: rotate(180deg);
} */
.select__option {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    list-style: none;
    top: 100%;
    left: 0;
    display: none;
}
.select__box:hover .select__option {
    display: block;
    z-index: 100;
}

.select__option-item {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    color: black;
    cursor: pointer;
    transition: all .4s;
}
.select__option-item:hover {
    color: #f397a9;
}

/* tooltip */

.tooltip__wrapper {
    width: auto;
    height: auto;
    position: relative;
}
.tooltip__title {
    position: absolute;
    width: 100px;
    height: 35px;
    background-color: #f1f1f1;
    top: 120%;
    left: 50%;
    transform: translateX(-55%);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 100;
}
.tooltip__title::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f1f1f1;
}
.tooltip__wrapper:hover .tooltip__title {
    display: flex;
}
/* chat room */
.headerchatroom__wrapper {
    height: 55px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}
.name__room {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f397a9;
}
.description__room {
    font-size: 1.1rem;
    font-weight: 400;
    color: #333;
}
.memberofroom {
    display: flex;
}
.invite_user {
    background-color: transparent;
    border: none; 
    outline: none;
    margin-right: 15px;
    color: #999;
}
.member__box {
    width: auto;
}
.input__wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f1f1f1;
}
.input {
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    padding-left: 15px;
}
.btn__input-submit {
    width: 105px;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
}
/* message */
.message__box {
    width: 100%;
    padding: 0 15px 0 15px;
    height: 395px;
    overflow-y: auto;
}
.message__wrapper {
    width: 50%;
    max-width: 60%; 
    border-radius: 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 28px 0;
    background-color: #f1f1f1;
    padding: 10px 0;
    padding-left: 8px;
}
.message__avatar {
    min-width: 20px;
    height: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 16px;
    overflow: hidden;
}
.message__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mess__name-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.mess__displayName {
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 40px;
}
.mess__createAt {
    font-size: 0.9rem;
}
.mess__text {
    /* max-width: 90%; */
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
/* modal */
.modal__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.modal__shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* modal room */
.modalRoom__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 390px;
    height: 200px;
    background-color: white;
    color: #333;
    border-radius: 10px;
}
.modalRoom__item {
    with: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}
.modalRoom__item span {
    width: 95px;
    text-align: left;
}
.modalRoom__item input {
    flex: 1;
    height: 100%;
    outline: none;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
}
.modal__btn-box {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.modal__btn {
    width: 65px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn__ok {
    margin-left: 10px;
    background-color: pink;
    color: white;
}
.title__flatform {
    display: none;
}

@media screen and (max-width: 700px) {
    body {
        visibility: hidden;
    }
}

